---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import TitleSection from '../components/TitleSection.astro';
import Projects from '../components/Projects.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import MailIcon from '../components/icons/Mail.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import CodeIcon from '../components/icons/Code.astro';

---

<Layout title="David | Portfolio"
description='Contrata a David para tu empresa'>
	<main class="px-2 ">
		<section class="w-full lg:w-[740px] mx-auto py-16">
		<h1 id="sobre-mi" class="text-white text-3xl font-bold flex flex-col justify-center items-center pb-6 lg:pb-10">Hey, soy David
			<div class="flex justify-center items-center gap-x-4 pt-4"><Badge>Disponible para trabajar</Badge></div></h1>
		<h2  class="text-xl lg:text-2xl text-wrap max-w-[700px]">Universitario en la Universidad de Santiago de Compostela, me especializo en <span class="text-red-100/90">ciberseguridad</span> y desarrollo web y de aplicaciones</h2>
		<nav class="flex gap-4 mt-8 flex-wrap">
			<SocialPill href="mailto:davidgufw01@gmail.com">
			  <MailIcon class="size-4" />
			  Contáctame
			</SocialPill>
			<SocialPill href="https://www.linkedin.com/in/david-guti%C3%A9rrez-cs/">
				<LinkedInIcon class="size-4" />
				LinkedIn
			  </SocialPill>
			<SocialPill href="https://github.com/dav1dgf?tab=repositories">
			  <GitHubIcon class="size-4" />
			  GitHub
			</SocialPill>
		  </nav>
	</section>

	<SectionContainer id="proyectos">
		<TitleSection>
		  <CodeIcon class="size-7" />
		  Proyectos
		</TitleSection>
		<Projects />
	  </SectionContainer>

	</main>
</Layout>


	
