<a href="https://es.linkedin.com/"
			target="_blank"
			rel= noopener"
			 class="bg-blue-100 text-blue-800 text-xs font-medium me-2 ml-3 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300"><slot /></a>